@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@AlertTwotone.RenderIcon(twoToneColor:["#52c41a", "#398439"])

<TagTwotone TwoToneColor="@(["red","yellow"])" />

<LoadingOutlined Spin />

<SmileOutlined Rotate="180" />